<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/LayoutPadrao :: layout(~{::title},~{::link[class='page_style']},~{::script[class='page_js']},~{::div[id='conteudo']})">
<head>

<link rel="stylesheet"
	th:href="@{/assets/admin/css/page_veiculo_cadastro.css}"
	class="page_style" />

</head>

<title>Cadastro de Funcionário</title>
</head>

<div id="conteudo">
	<section class="content-header">
		<h1>Cadastro/Atualização de Veículo</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>Menu</a></li>
			<li>Veículos</li>
			<li>Cadastro</li>
		</ol>
	</section>
	<section class="content">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Cadastro de Veículos</h3>
				<a class="pull-right" th:href="@{/menu/veiculos/listar}"><i
					class="fa fa-list" aria-hidden="true"></i> Listar veiculos</a>
			</div>
			<form action="#" class="form-horizontal" method="post" id="form_page"
				th:action="@{/menu/veiculos}" th:object="${veiculo}">
				<input type="hidden" th:field="*{id}" />

				<div class="box-body">
					<div th:replace="fragments/MensagemGeral"></div>
					<div th:replace="fragments/MensagemErros :: mensagens_erro"></div>
					<div class="row">
						<fieldset class="col-sm-12">
							<legend>Dados do veículo</legend>
							<div class="form-group col-sm-6"
								th:classappend="${#fields.hasErrors('adesivo')} ? 'has-error'">
								<label for="adesivo" class="col-sm-3 control-label">Nº
									do Adesivo</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" th:field="*{adesivo}"
										id="adesivo" maxlength="10" />
								</div>
							</div>
							<div class="form-group col-sm-6"
								th:classappend="${#fields.hasErrors('placa')} ? 'has-error'">
								<label for="placa" class="col-sm-3 control-label">Placa</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" th:field="*{placa}"
										id="placa" required="required" maxlength="10" />
								</div>
							</div>
							<div class="form-group col-sm-6"
								th:classappend="${#fields.hasErrors('modeloVeiculo')} ? 'has-error'">
								<label for="modeloVeiculo" class="col-sm-3 control-label">Referência</label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										th:field="*{modeloVeiculo}" placeholder="Marca / Modelo / Cor"
										id="modeloVeiculo" required="required" maxlength="100" />
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label for="tipoveiculo" class="col-sm-3 control-label">Tipo
									de Veículo</label>
								<div class="col-sm-9">
									<select th:field="*{tipo.id}" class="form-control"
										id="tipoveiculo">
										<option value="0">Selecione</option>
										<option th:each="tipo: ${todosTiposVeiculos}"
											th:value="${tipo.id}" th:text="${tipo}"></option>
									</select>
								</div>
							</div>


						</fieldset>
						<fieldset class="col-sm-12">
							<legend>Dados do funcionário</legend>
							<input type="hidden" th:field="*{funcionario.id}"
								id="funcionarioId" />
							<div class="form-group col-sm-6">
								<label for="funcionario_id" class="col-sm-3 control-label">ID</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" disabled="disabled"
										th:value="*{funcionario.id}" id="funcionario_id" />
								</div>
							</div>
							<div class="form-group col-sm-6"
								th:classappend="${#fields.hasErrors('funcionario.id')} ? 'has-error'">
								<label for="nome" class="col-sm-3 control-label">Nome </label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										th:field="*{funcionario.nome}" id="nome" required="required"
										maxlength="100" />
								</div>
							</div>

							<div class="form-group col-sm-6"
								th:classappend="${#fields.hasErrors('funcionario.email')} ? 'has-error'">
								<label for="email" class="col-sm-3 control-label">Email</label>
								<div class="col-sm-9">
									<input type="email" class="form-control"
										th:field="*{funcionario.email}" id="email" maxlength="100" />
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label for="telefone" class="col-sm-3 control-label">Celular</label>
								<div class="col-sm-9">
									<input type="text" class="form-control cel"
										th:field="*{funcionario.celular}" id="telefone" />
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label for="secretaria" class="col-sm-3 control-label">Secretaria</label>
								<div class="col-sm-9">
									<div class="input-group">
										<input type="hidden"
											th:value="*{funcionario.setor != null and funcionario.setor.secretaria != null?funcionario.setor.secretaria.id:''}"
											id="secretaria_id" /> <select
											th:field="*{funcionario.setor.secretaria.id}"
											class="form-control" id="secretaria">
											<option value="">Selecione</option>
											<option th:each="sec: ${todasSecretarias}"
												th:value="${sec.id}" th:text="${sec}"></option>
										</select> <span class="input-group-btn">
											<button class="btn btn-default" type="button"
												id="recarrega_secretarias">
												<i class="fa fa-refresh"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<input type="hidden" th:value="*{funcionario.setor.id}"
									id="setor_id" /> <label for="setor"
									class="col-sm-3 control-label">Setor</label>
								<div class="col-sm-9">
									<div class="input-group ">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button"
												data-toggle="modal" data-target="#modal_setor"
												id="adiciona_setor">
												<i class="fa fa-plus"></i>
											</button>
										</span>
										<div class="input-group">
											<input type="hidden" th:value="*{funcionario.setor != null}" />
											<select th:field="*{funcionario.setor.id}"
												class="form-control" id="setor">
											</select> <span class="input-group-btn">
												<button class="btn btn-default" type="button"
													id="recarrega_setores">
													<i class="fa fa-refresh"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>

						</fieldset>
					</div>
					<!-- /.box-header -->
				</div>
				<div class="box-footer">
					<div class="form-group">
						<div class="col-sm-10">
							<button type="submit" id="submit_button" class="btn btn-primary"
								th:value="*{placa != null?'Atualizar':'Registrar'}">Salvar</button>
							<button type="reset" class="btn btn-warning" id="clear_form">Novo</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal fade" id="funcionarios" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal"></button>
						<h3 class="modal-title">Funcionários com o nome informado</h3>
					</div>
					<div class="modal-body">
						<div class="table-responsive">
							<table class="table table-bordered table-striped"
								id="data_mensagens">
								<thead>
									<tr>
										<th class="col-md-1">#</th>
										<th class="col-md-1">Nome</th>
										<th class="col-md-2">Setor</th>
										<th class="col-md-1">Secretaria</th>
									</tr>
								</thead>
								<tbody id="body_funcionarios">
								</tbody>
							</table>

						</div>
					</div>

				</div>

			</div>
		</div>
		<div class="modal fade" id="modal_setor" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal"></button>
						<h3 class="modal-title">Cadastrar setor</h3>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" method="post" id="form_setor">
							<div class="row">
								<div class="form-group col-sm-6">
									<label for="setor_descricao" class="col-sm-3 control-label">Nome
									</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="descricao"
											id="setor_descricao" required="required" maxlength="100" />
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label for="setor_telefone" class="col-sm-3 control-label">Ramal</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="telefone"
											id="setor_telefone" required="required" maxlength="4" />
									</div>
								</div>

								<div class="form-group col-sm-12">
									<label for="setor_secretaria" class="col-sm-2 control-label">Secretaria</label>
									<div class="col-sm-10">
										<select name="secretariaId" class="form-control"
											id="setor_secretaria">
											<option value="0">Selecione</option>
											<option th:each="sec: ${todasSecretarias}"
												th:value="${sec.id}" th:text="${sec}"></option>
										</select>
									</div>
								</div>
								<div class="col-sm-12 text-center">
									<button type="submit" id="submit_form_setor"
										class="btn btn-primary">Salvar</button>
									<button type="button" data-dismiss="modal"
										class="btn btn-warning">Cancela</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<script th:src="@{/assets/geral/js/jquery.caret.js}" class="page_js"></script>
<script th:src="@{/assets/admin/js/page_veiculo_cadastro.js}"
	class="page_js"></script>

</html>